@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fontetitulo: "Passion One", Arial, sans-serif;
    --fontetext: "Sriracha", Arial, sans-serif;
}

header {
    background-color: var(--preto);
    padding-bottom: 50px;
}

header > h1 {
    color: var(--branco);
    font-family: var(--fontetitulo);
    text-align: center;
    padding-top: 50px;
    font-size: 5em;
    font-variant: small-caps;
}

header > p {
    color: var(--branco);
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #fff;
}

main > p {
    background-color: var(--branco);
    font-family: var(--fontetext);
    padding-left: 30px;
    font-size: 2em;
    line-height: 2em;
    padding-top: 8vh;
    padding-bottom: 5vh;
    
    
}

section {
    background-color: darkgray;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.151);
}

section > p {
    background-color: #00000069;
    display: inline-block;
    font-family: var(--fontetext);
    font-size: 2em;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
}

#imagem01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

#imagem02 {
    background: url(imagens/background002.jpg) right center / cover fixed;
}

footer {
    background-color: var(--preto);
}

footer > p {
    color: #fff;
    text-align: center;
    padding: 10px;
}